ETHEREUM_HTTP_RPC_URL=
POLYGON_HTTP_RPC_URL=
ARBITRUM_HTTP_RPC_URL=

ETHEREUM_WS_RPC_URL=
POLYGON_WS_RPC_URL=
ARBITRUM_WS_RPC_URL=

INFLUXDB_TOKEN=
INFLUXDB_URL=
INFLUXDB_ORG=
INFLUXDB_BUCKET=

FLASHBOTS_SIGNING_KEY=
FLASHBOTS_PRIVATE_KEY=

BLOCKNATIVE_TOKEN=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

ETHEREUM_BOT_ADDRESS=
ETHEREUM_SIMULATOR_ADDRESS=